{{define "content"}}
<h2>Matches</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Run</th>
        <th>Candidate</th>
        <th>Current</th>
        <th>Pass</th>
        <th>Score</th>
        <th>Elo Delta</th>
        <th>Elo Error Margin</th>
        <th>Done</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range .matches}}
      <tr class="table-{{.table_class}}">
        <td><a href="/match/{{.id}}">{{.id}}</a></td>
        <td>{{.training_id}}</td>
        <td>{{.candidate}}</td>
        <td>{{.current}}</td>
        <td>{{.passed}}</td>
        <td>{{.score}}</td>
        <td>{{.elo}}</td>
        <td>{{.error}}</td>
        <td>{{.done}}</td>
        <td>{{.created_at}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <!-- Pagination -->
  <nav aria-label="Match pagination">
    <ul class="pagination justify-content-center">
      {{if .hasPrev}}
        <li class="page-item">
          {{if .run}}
            <a class="page-link" href="/matches/{{.run}}?page={{.prevPage}}" aria-label="Previous">
          {{else}}
            <a class="page-link" href="/matches?page={{.prevPage}}" aria-label="Previous">
          {{end}}
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {{else}}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {{end}}

      <li class="page-item active">
        <span class="page-link">Page {{.page}} of {{.totalPages}}</span>
      </li>

      {{if .hasNext}}
        <li class="page-item">
          {{if .run}}
            <a class="page-link" href="/matches/{{.run}}?page={{.nextPage}}" aria-label="Next">
          {{else}}
            <a class="page-link" href="/matches?page={{.nextPage}}" aria-label="Next">
          {{end}}
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{else}}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {{end}}
    </ul>
  </nav>

  <div class="text-center mt-2">
    <small class="text-muted">Showing {{len .matches}} matches per page out of {{.total}} matches.</small>
  </div>
</div>
{{end}}

{{define "scripts"}}
{{end}}
